################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Core/Tpd.Api.Core.DataTransferObject/bin
/Core/Tpd.Api.Core.DataTransferObject/obj
/Core/Tpd.Api.Core.Database/bin
/Core/Tpd.Api.Core.Database/obj
/Core/Tpd.Api.Core.DataAccess/obj
/Core/Tpd.Api.Core.DataAccess/bin
/Core/Tpd.Api.Core.Service/bin
/Core/Tpd.Api.Core.Service/obj
/Core/Tpd.Api.Core.Interface/bin
/Core/Tpd.Api.Core.Interface/obj
/Core/Tpd.Api.Core.Share/bin
/Core/Tpd.Api.Core.Share/obj
/Core/Tpd.Api.Core.DataTransferObject/PetIct.Api.Core.DataTransferObject.csproj.vspscc
/Core/Tpd.Api.Core.Database/PetIct.Api.Core.Database.csproj.vspscc
/Core/Tpd.Api.Core.DataAccess/PetIct.Api.Core.DataAccess.csproj.vspscc
/Core/Tpd.Api.Core.Service/PetIct.Api.Core.Service.csproj.vspscc
/Core/Tpd.Api.Core.Interface/PetIct.Api.Core.Interface.csproj.vspscc
/Core/Tpd.Api.Core.Share/PetIct.Api.Core.Share.csproj.vspscc
/Example/Tpd.Api.Example.DataTransferObject/bin
/Example/Tpd.Api.Example.DataTransferObject/obj
/Example/Tpd.Api.Example.Database/bin
/Example/Tpd.Api.Example.Database/obj
/Example/Tpd.Api.Example.DataAccess/bin
/Example/Tpd.Api.Example.DataAccess/obj
/Example/Tpd.Api.Example.Service/bin
/Example/Tpd.Api.Example.Service/obj
/Example/Tpd.Api.Example.Interface/bin
/Example/Tpd.Api.Example.Interface/obj
/Example/Tpd.Api.Example.Share/bin
/Example/Tpd.Api.Example.Share/obj
/Example/Tpd.Api.Example.DataTransferObject/PetIct.Api.Example.DataTransferObject.csproj.vspscc
/Example/Tpd.Api.Example.Database/PetIct.Api.Example.Database.csproj.vspscc
/Example/Tpd.Api.Example.DataAccess/PetIct.Api.Example.DataAccess.csproj.vspscc
/Example/Tpd.Api.Example.Service/PetIct.Api.Example.Service.csproj.vspscc
/Example/Tpd.Api.Example.Interface/PetIct.Api.Example.Interface.csproj.vspscc
/Example/Tpd.Api.Example.Share/PetIct.Api.Example.Share.csproj.vspscc
/Example/Tpd.Api.Example.Database/Migrations
/Utility/Tpd.Api.Utility.Linq/bin
/Utility/Tpd.Api.Utility.Linq/obj
/Utility/Tpd.Api.Utility.Serializer/bin
/Utility/Tpd.Api.Utility.Serializer/obj
/Utility/Tpd.Api.Utility.String/bin
/Utility/Tpd.Api.Utility.String/obj
/Utility/Tpd.Api.Utility.Linq/PetIct.Api.Utility.Linq.csproj.vspscc
/Utility/Tpd.Api.Utility.String/PetIct.Api.Utility.String.csproj.vspscc
/Auth/Tpd.Api.Auth.DataAccess/bin
/Auth/Tpd.Api.Auth.DataAccess/obj
/Auth/Tpd.Api.Auth.Database/bin
/Auth/Tpd.Api.Auth.Database/obj
/Auth/Tpd.Api.Auth.DataTransferObject/bin
/Auth/Tpd.Api.Auth.DataTransferObject/obj
/Auth/Tpd.Api.Auth.Interface/bin
/Auth/Tpd.Api.Auth.Interface/obj
/Auth/Tpd.Api.Auth.Service/bin
/Auth/Tpd.Api.Auth.Service/obj
/Auth/Tpd.Api.Auth.Share/bin
/Auth/Tpd.Api.Auth.Share/obj
/Email/Tpd.Api.Email.DataAccess/bin
/Email/Tpd.Api.Email.DataAccess/obj
/Email/Tpd.Api.Email.Database/bin
/Email/Tpd.Api.Email.Database/obj
/Email/Tpd.Api.Email.DataTransferObject/bin
/Email/Tpd.Api.Email.DataTransferObject/obj
/Email/Tpd.Api.Email.Interface/bin
/Email/Tpd.Api.Email.Interface/obj
/Email/Tpd.Api.Email.Service/bin
/Email/Tpd.Api.Email.Service/obj
/Email/Tpd.Api.Email.Share/bin
/Email/Tpd.Api.Email.Share/obj
/FileAndAttachment/Tpd.Api.FileAndAttachment.DataAccess/bin
/FileAndAttachment/Tpd.Api.FileAndAttachment.DataAccess/obj
/FileAndAttachment/Tpd.Api.FileAndAttachment.Database/bin
/FileAndAttachment/Tpd.Api.FileAndAttachment.Database/obj
/FileAndAttachment/Tpd.Api.FileAndAttachment.DataTransferObject/bin
/FileAndAttachment/Tpd.Api.FileAndAttachment.DataTransferObject/obj
/FileAndAttachment/Tpd.Api.FileAndAttachment.Interface/bin
/FileAndAttachment/Tpd.Api.FileAndAttachment.Interface/obj
/FileAndAttachment/Tpd.Api.FileAndAttachment.Service/bin
/FileAndAttachment/Tpd.Api.FileAndAttachment.Service/obj
/FileAndAttachment/Tpd.Api.FileAndAttachment.Share/bin
/FileAndAttachment/Tpd.Api.FileAndAttachment.Share/obj
/Office/Tpd.Api.Office.DataAccess/bin
/Office/Tpd.Api.Office.DataAccess/obj
/Office/Tpd.Api.Office.Database/bin
/Office/Tpd.Api.Office.Database/obj
/Office/Tpd.Api.Office.DataTransferObject/bin
/Office/Tpd.Api.Office.DataTransferObject/obj
/Office/Tpd.Api.Office.Interface/bin
/Office/Tpd.Api.Office.Interface/obj
/Office/Tpd.Api.Office.Service/bin
/Office/Tpd.Api.Office.Service/obj
/Office/Tpd.Api.Office.Share/bin
/Office/Tpd.Api.Office.Share/obj
/Utility/Tpd.Api.Utility.Authorization/bin
/Utility/Tpd.Api.Utility.Authorization/obj
/Utility/Tpd.Api.Utility.FileFolder/bin
/Utility/Tpd.Api.Utility.FileFolder/obj
/Utility/Tpd.Api.Utility.Logger/bin
/Utility/Tpd.Api.Utility.Logger/obj
/Utility/Tpd.Api.Utility.UnitSystem/bin
/Utility/Tpd.Api.Utility.UnitSystem/obj
/Workflow/Tpd.Api.Workflow.DataAccess/bin
/Workflow/Tpd.Api.Workflow.DataAccess/obj
/Workflow/Tpd.Api.Workflow.Database/bin
/Workflow/Tpd.Api.Workflow.Database/obj
/Workflow/Tpd.Api.Workflow.DataTransferObject/bin
/Workflow/Tpd.Api.Workflow.DataTransferObject/obj
/Workflow/Tpd.Api.Workflow.Interface/bin
/Workflow/Tpd.Api.Workflow.Interface/obj
/Workflow/Tpd.Api.Workflow.Service/bin
/Workflow/Tpd.Api.Workflow.Service/obj
/Workflow/Tpd.Api.Workflow.Share/bin
/Workflow/Tpd.Api.Workflow.Share/obj
/Utility/Tpd.Api.Utility.SystemDateTime/bin
/Utility/Tpd.Api.Utility.SystemDateTime/obj
/Language/Tpd.Api.Language.DataAccess/bin/Debug/netcoreapp2.2
/Language/Tpd.Api.Language.DataAccess/obj
/Language/Tpd.Api.Language.Database/bin/Debug/netcoreapp2.2
/Language/Tpd.Api.Language.Database/obj/Debug/netcoreapp2.2
/Language/Tpd.Api.Language.Database/obj
/Language/Tpd.Api.Language.DataTransferObject/bin/Debug/netcoreapp2.2
/Language/Tpd.Api.Language.DataTransferObject/obj
/Language/Tpd.Api.Language.Interface/bin/Debug/netcoreapp2.2
/Language/Tpd.Api.Language.Interface/obj
/Language/Tpd.Api.Language.Service/bin/Debug/netcoreapp2.2
/Language/Tpd.Api.Language.Service/obj
/Language/Tpd.Api.Language.Share/obj
/Language/Tpd.Api.Language.Share/bin/Debug/netcoreapp2.2
/Language/Tpd.Api.Language.Database/Migrations
